@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

$stat-teal: #1fadb6;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
    font-family: Circular,sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-shopping-basket {
  font-size: 25px;
  color: $stat-teal;
  position: absolute;
  right: 0;
  padding: 15px 10px 0 10px;
}

.post-title-heading {
   position: relative;
   color: #1c1c1c;
   font-size: 45px;
   font-weight: 500;
   margin-bottom: 10px;
   text-align: center;
   line-height: 1.2;
   margin-top: 20px;
   text-transform: uppercase;
   font-family: Circular,sans-serif;
}


.content {
  font-family: Baskerville-eText,Baskerville,Garamond,serif;
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 28px;
  padding: 0 20px;
}

.report {
  display: flex;
  flex-wrap: wrap;
  font-family: Circular,sans-serif;
  
  &-header {
    justify-content: left;
    padding-left: 20px;
  }
  
  &-title {
    font-size: 32px;
    font-family: Circular,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 32px;
    margin-top: 0;
    
    &::before {
      display: block;
      width: 30px;
      height: 3px;
      content: '';
      margin-bottom: 15px;
      background-color: $stat-teal;
    }
    
  }
  
  .report-container {
    flex: 40%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
  }
  
  .thumbnail {
    width: 400px;
    height: 180px;
    height: auto;
    margin: 0 auto 18px auto;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  
 h3 a {
   text-decoration: none;
   color: #1c1c1c;
 }
  
.thumbnail + img + div + h3 {
   text-decoration: underline;
 }
  
  .report-content {
    font-family: Baskerville-eText,Baskerville,Garamond,serif;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .sub-title {
    font-family: Circular,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0 auto;
  }
  
  .description {
    line-height: 28px;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    
      .learn-more-link {
        color: $stat-teal;
        text-decoration: none;
      }
  }
  
/*   .license {
      width: 250px;
      align-self: center;
      margin: 15px auto;
      padding-left: 10px;
      cursor: pointer;
      font-size: 16px;
      min-height: 2.22222em;
      font-weight: 600;
    } */
    
  .price {
     font-family: Baskerville,Garamond,serif;
     font-weight: 700;
     margin-bottom: 10px;
     margin-top: 2px;
     font-size: 18px;
     line-height: 1.7;
    }
 
/*   
  input {
    width: 40px;
    min-height: 40px;
    text-align: center;
    margin-right: 1px;
    border: 1px solid #f3f3f3;
  } */
  
  .add-to-cart {
    min-height: 40px;
    background-color: $stat-teal;
    border: 0;
    margin: 20px auto;
    padding: 0.78571em 1.1em;
   
   
  }
 /*  
  .learn-more-link {
     font-size: 14px;
     font-family: Circular,sans-serif;
     text-transform: uppercase;
     color: #fff;
     letter-spacing: 2px;
     text-decoration: none;
  } */
  
 /*  .quantity {
    line-height: 1.4;
    font-size: 14px;
    font-weight: normal;
    font-family: Circular,sans-serif;
  } */
  
}
  
 
@media (min-width: 768px) {

    .post-title{
        justify-content: left;
        margin: 10px 0 0 50px;
    }

   .post-title-heading {
        font-size: 30px;
    }

    .report-content{
        max-width: 700px;
        text-align: left;
        width: 375px;
    }

   .report .report-container {
        flex: none;
        flex-direction: row;
    }
    .report .thumbnail {
        margin: 0 0 18px 8px;
    }

    .thumbnail {
        width: 350px;
    }
}

@media (min-width: 1024px) {
    .post-title {
        padding-left: 100px;
        margin: 20px 0 0 0;
    }

    .content {
        margin: 0 0 30px 0;
        max-width: 1318px;
        padding-left: 100px;
        text-align: left;
    }

    .report .report-container {
        flex: none;
        flex-direction: column;
        margin-right: 15px;
    }

    .report {
        justify-content: center;

        &-header{
            width: 1318px;
            padding-left: 100px;
        }
    }

    .report .thumbnail {
        margin: 0;
    }

    #img-3, #img-4 {
        height: 352px;
    }

    .report .report-container:last-child{
        justify-content: left;
    }

    .report .description {
        padding: 0;
    }

    .report .report-content {
        margin: 0;
    }
}